/* Classes */
.title {
    color: $title-color;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
}

.titleDesc {
    font-size: 20px;
    color: $grey;
    font-style: italic;
    margin: 20px 0 70px 0;
}

.sectionPadding {
    padding: 100px 0;
}

@media (max-width: 575px) {
    .title {
        font-size: 22px;
    }
    .titleDesc {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .sectionPadding {
        padding: 50px 0;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    .title {
        font-size: 30px;
    }
}